{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
        We have variety of stunning products.
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
        <p class="text-center my search_text">You have searched for :<b>"{{query}}"</p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for product in products %}
        <div class="my_bottom margin col-25 col-sm-7 col-md-4 col-lg-3">
            <div style="background-color:yellow; padding: 5px; width: 250px; height: 300px;" " class="card text-center" style="min-width:15rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div class="card-body">
                <h4>{{product.name}}</h4>
                <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="row mx-auto">
                <p class="text-center my_search_text"> 0 results found</p>
            </div>
        {% endfor %}
    </div>
`</div>
{% endblock %}